/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}
wrong {
    display: block;
    background-color: #fda796;
    color: #9d2d17;
    padding: 5px 10px;
    border-radius: 5px;
}
correct {
    display: block;
    background-color: #abe9ba;
    color: #21502d;
    padding: 5px 10px;
    border-radius: 5px;
}
